# Python cache ve geçici dosyalar
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Sanal ortam dosyaları
env/
.env
.env.local
*.venv

# Bağımlılıklar
pip-log.txt
pip-delete-this-directory.txt

# IDE ve editör dosyaları
.vscode/
.idea/
*.iml

# Log dosyaları
logs/
*.log
*.out
*.err

# FastAPI ve Uvicorn geçici dosyaları
instance/
*.db
*.sqlite3
*.sqlite



